USE [master]
GO
/****** Object:  Database [QuanLyCLBOU]    Script Date: 12/07/2024 9:32:18 AM ******/
CREATE DATABASE [QuanLyCLBOU]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'QuanLyCLBOU', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\QuanLyCLBOU.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'QuanLyCLBOU_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\QuanLyCLBOU_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [QuanLyCLBOU].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [QuanLyCLBOU]
GO
/****** Object:  Table [dbo].[CacDiaDiemCLB]    Script Date: 12/07/2024 9:32:19 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CacDiaDiemCLB](
	[MaCLB] [nchar](10) NOT NULL,
	[DiaDiemHD] [nvarchar](100) NOT NULL,
 CONSTRAINT [PK_CLB_1] PRIMARY KEY CLUSTERED 
(
	[MaCLB] ASC,
	[DiaDiemHD] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DanhSachSV-CuocThi]    Script Date: 12/07/2024 9:32:19 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DanhSachSV-CuocThi](
	[MaCT] [nchar](10) NOT NULL,
	[ThoiGianBatDau] [datetime] NOT NULL,
	[MaSV] [nchar](10) NOT NULL,
 CONSTRAINT [PK_DanhSachSV-CuocThi] PRIMARY KEY CLUSTERED 
(
	[MaCT] ASC,
	[ThoiGianBatDau] ASC,
	[MaSV] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DanhSachTV-CLB]    Script Date: 12/07/2024 9:32:19 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DanhSachTV-CLB](
	[MaCLB] [nchar](10) NOT NULL,
	[MaSV] [nchar](10) NOT NULL,
 CONSTRAINT [PK_DanhSachSV-CLB] PRIMARY KEY CLUSTERED 
(
	[MaCLB] ASC,
	[MaSV] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[InfoCLB]    Script Date: 12/07/2024 9:32:19 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[InfoCLB](
	[MaCLB] [nchar](10) NOT NULL,
	[TenCLB] [nvarchar](50) NOT NULL,
	[ChuNhiemCLB] [nchar](10) NOT NULL,
 CONSTRAINT [PK_CLB] PRIMARY KEY CLUSTERED 
(
	[MaCLB] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[InfoCuocThi]    Script Date: 12/07/2024 9:32:19 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[InfoCuocThi](
	[MaCT] [nchar](10) NOT NULL,
	[TenCT] [nvarchar](50) NOT NULL,
	[NoiDung] [nvarchar](max) NOT NULL,
	[MaCLBQuanLy] [nchar](10) NOT NULL,
 CONSTRAINT [PK_InfoCuocThi] PRIMARY KEY CLUSTERED 
(
	[MaCT] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[InfoTV]    Script Date: 12/07/2024 9:32:19 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[InfoTV](
	[MaSV] [nchar](10) NOT NULL,
	[HoTenSV] [nvarchar](50) NOT NULL,
	[NgaySinhSV] [date] NULL,
	[SdtSV] [nchar](10) NULL,
	[EmailSV] [nvarchar](50) NULL,
 CONSTRAINT [PK_InfoSV] PRIMARY KEY CLUSTERED 
(
	[MaSV] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ToChucCuocThi]    Script Date: 12/07/2024 9:32:19 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ToChucCuocThi](
	[MaCT] [nchar](10) NOT NULL,
	[ThoiGianBatDau] [datetime] NOT NULL,
	[ThoiGianKetThuc] [datetime] NOT NULL,
 CONSTRAINT [PK_ToChucCuocThi] PRIMARY KEY CLUSTERED 
(
	[MaCT] ASC,
	[ThoiGianBatDau] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[CacDiaDiemCLB] ([MaCLB], [DiaDiemHD]) VALUES (N'CLB01     ', N'Nha Be')
INSERT [dbo].[CacDiaDiemCLB] ([MaCLB], [DiaDiemHD]) VALUES (N'CLB01     ', N'Quan 3')
INSERT [dbo].[CacDiaDiemCLB] ([MaCLB], [DiaDiemHD]) VALUES (N'CLB02     ', N'Nha Be')
GO
INSERT [dbo].[DanhSachSV-CuocThi] ([MaCT], [ThoiGianBatDau], [MaSV]) VALUES (N'CT01      ', CAST(N'2024-01-01T07:30:00.000' AS DateTime), N'SV01      ')
INSERT [dbo].[DanhSachSV-CuocThi] ([MaCT], [ThoiGianBatDau], [MaSV]) VALUES (N'CT01      ', CAST(N'2024-01-01T07:30:00.000' AS DateTime), N'SV10      ')
INSERT [dbo].[DanhSachSV-CuocThi] ([MaCT], [ThoiGianBatDau], [MaSV]) VALUES (N'CT01      ', CAST(N'2024-04-04T07:30:00.000' AS DateTime), N'SV04      ')
GO
INSERT [dbo].[DanhSachTV-CLB] ([MaCLB], [MaSV]) VALUES (N'CLB01     ', N'SV02      ')
INSERT [dbo].[DanhSachTV-CLB] ([MaCLB], [MaSV]) VALUES (N'CLB01     ', N'SV03      ')
INSERT [dbo].[DanhSachTV-CLB] ([MaCLB], [MaSV]) VALUES (N'CLB02     ', N'SV04      ')
GO
INSERT [dbo].[InfoCLB] ([MaCLB], [TenCLB], [ChuNhiemCLB]) VALUES (N'CLB01     ', N'Truyen thong', N'SV01      ')
INSERT [dbo].[InfoCLB] ([MaCLB], [TenCLB], [ChuNhiemCLB]) VALUES (N'CLB02     ', N'Chuyen de', N'SV06      ')
INSERT [dbo].[InfoCLB] ([MaCLB], [TenCLB], [ChuNhiemCLB]) VALUES (N'CLB03     ', N'Bao ve moi truong', N'SV02      ')
GO
INSERT [dbo].[InfoCuocThi] ([MaCT], [TenCT], [NoiDung], [MaCLBQuanLy]) VALUES (N'CT01      ', N'Thiet ke do hoa', N'Thiet ke san pham tuyen truyen', N'CLB01     ')
INSERT [dbo].[InfoCuocThi] ([MaCT], [TenCT], [NoiDung], [MaCLBQuanLy]) VALUES (N'CT02      ', N'Hoat nao vien chuyen nghiep', N'Tim ra MC cho chuong trinh hoat nao', N'CLB02     ')
INSERT [dbo].[InfoCuocThi] ([MaCT], [TenCT], [NoiDung], [MaCLBQuanLy]) VALUES (N'CT03      ', N'Gom rac', N'Tim ra thanh vien nhat duoc nhieu rac nhat', N'CLB03     ')
GO
INSERT [dbo].[InfoTV] ([MaSV], [HoTenSV], [NgaySinhSV], [SdtSV], [EmailSV]) VALUES (N'SV01      ', N'Nguyen Van A', CAST(N'2000-01-01' AS Date), N'0123456789', N'hfdj@gmail.com')
INSERT [dbo].[InfoTV] ([MaSV], [HoTenSV], [NgaySinhSV], [SdtSV], [EmailSV]) VALUES (N'SV02      ', N'Tran Van B', CAST(N'2002-02-02' AS Date), N'0234567891', N'hiisjw@gmail.com')
INSERT [dbo].[InfoTV] ([MaSV], [HoTenSV], [NgaySinhSV], [SdtSV], [EmailSV]) VALUES (N'SV03      ', N'Nguyen Van C', CAST(N'2003-03-03' AS Date), N'0345678912', N'ririei@gmail.com')
GO
INSERT [dbo].[ToChucCuocThi] ([MaCT], [ThoiGianBatDau], [ThoiGianKetThuc]) VALUES (N'CT01      ', CAST(N'2024-01-01T07:30:00.000' AS DateTime), CAST(N'2024-01-20T10:00:00.000' AS DateTime))
INSERT [dbo].[ToChucCuocThi] ([MaCT], [ThoiGianBatDau], [ThoiGianKetThuc]) VALUES (N'CT01      ', CAST(N'2024-04-04T07:30:00.000' AS DateTime), CAST(N'2024-05-05T19:00:00.000' AS DateTime))
INSERT [dbo].[ToChucCuocThi] ([MaCT], [ThoiGianBatDau], [ThoiGianKetThuc]) VALUES (N'CT02      ', CAST(N'2024-02-02T07:30:00.000' AS DateTime), CAST(N'2024-02-02T10:00:00.000' AS DateTime))
GO
ALTER TABLE [dbo].[CacDiaDiemCLB]  WITH CHECK ADD  CONSTRAINT [FK_CLB_InfoCLB] FOREIGN KEY([MaCLB])
REFERENCES [dbo].[InfoCLB] ([MaCLB])
GO
ALTER TABLE [dbo].[CacDiaDiemCLB] CHECK CONSTRAINT [FK_CLB_InfoCLB]
GO
ALTER TABLE [dbo].[DanhSachSV-CuocThi]  WITH CHECK ADD  CONSTRAINT [FK_DanhSachSV-CuocThi_InfoTV1] FOREIGN KEY([MaSV])
REFERENCES [dbo].[InfoTV] ([MaSV])
GO
ALTER TABLE [dbo].[DanhSachSV-CuocThi] CHECK CONSTRAINT [FK_DanhSachSV-CuocThi_InfoTV1]
GO
ALTER TABLE [dbo].[DanhSachSV-CuocThi]  WITH CHECK ADD  CONSTRAINT [FK_DanhSachSV-CuocThi_ToChucCuocThi] FOREIGN KEY([MaCT], [ThoiGianBatDau])
REFERENCES [dbo].[ToChucCuocThi] ([MaCT], [ThoiGianBatDau])
GO
ALTER TABLE [dbo].[DanhSachSV-CuocThi] CHECK CONSTRAINT [FK_DanhSachSV-CuocThi_ToChucCuocThi]
GO
ALTER TABLE [dbo].[DanhSachTV-CLB]  WITH CHECK ADD  CONSTRAINT [FK_DanhSachSV-CLB_InfoCLB] FOREIGN KEY([MaCLB])
REFERENCES [dbo].[InfoCLB] ([MaCLB])
GO
ALTER TABLE [dbo].[DanhSachTV-CLB] CHECK CONSTRAINT [FK_DanhSachSV-CLB_InfoCLB]
GO
ALTER TABLE [dbo].[DanhSachTV-CLB]  WITH CHECK ADD  CONSTRAINT [FK_DanhSachSV-CLB_InfoSV] FOREIGN KEY([MaSV])
REFERENCES [dbo].[InfoTV] ([MaSV])
GO
ALTER TABLE [dbo].[DanhSachTV-CLB] CHECK CONSTRAINT [FK_DanhSachSV-CLB_InfoSV]
GO
ALTER TABLE [dbo].[InfoCLB]  WITH CHECK ADD  CONSTRAINT [FK_InfoCLB_InfoSV] FOREIGN KEY([ChuNhiemCLB])
REFERENCES [dbo].[InfoTV] ([MaSV])
GO
ALTER TABLE [dbo].[InfoCLB] CHECK CONSTRAINT [FK_InfoCLB_InfoSV]
GO
ALTER TABLE [dbo].[InfoCuocThi]  WITH CHECK ADD  CONSTRAINT [FK_InfoCuocThi_InfoCLB1] FOREIGN KEY([MaCLBQuanLy])
REFERENCES [dbo].[InfoCLB] ([MaCLB])
GO
ALTER TABLE [dbo].[InfoCuocThi] CHECK CONSTRAINT [FK_InfoCuocThi_InfoCLB1]
GO
ALTER TABLE [dbo].[ToChucCuocThi]  WITH CHECK ADD  CONSTRAINT [FK_ToChucCuocThi_InfoCuocThi] FOREIGN KEY([MaCT])
REFERENCES [dbo].[InfoCuocThi] ([MaCT])
GO
ALTER TABLE [dbo].[ToChucCuocThi] CHECK CONSTRAINT [FK_ToChucCuocThi_InfoCuocThi]
GO
USE [master]
GO
