USE [master]
GO
/****** Object:  Database [QLNhanSu]    Script Date: 28/06/2024 11:19:25 AM ******/
CREATE DATABASE [QLNhanSu]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'QLNhanSu', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\QLNhanSu.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'QLNhanSu_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\QLNhanSu_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [QLNhanSu].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [QLNhanSu]
GO
/****** Object:  Table [dbo].[DuAn]    Script Date: 28/06/2024 11:19:25 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DuAn](
	[MaDA] [int] IDENTITY(1,1) NOT NULL,
	[TenDA] [nvarchar](50) NULL,
	[NgayDKBD] [date] NULL,
	[NgayBD] [date] NULL,
	[NgayDKKT] [date] NULL,
	[NgayKT] [date] NULL,
 CONSTRAINT [PK_DuAn] PRIMARY KEY CLUSTERED 
(
	[MaDA] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[NhanVien]    Script Date: 28/06/2024 11:19:25 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NhanVien](
	[MaNV] [char](10) NOT NULL,
	[TenNV] [nvarchar](30) NULL,
	[BangCap] [nvarchar](30) NULL,
	[NamSinh] [int] NULL,
	[DiaChi] [nvarchar](50) NULL,
	[ChucVu] [nvarchar](50) NULL,
 CONSTRAINT [PK_NhanVien] PRIMARY KEY CLUSTERED 
(
	[MaNV] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PhanCong]    Script Date: 28/06/2024 11:19:25 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PhanCong](
	[MaNV] [char](10) NOT NULL,
	[MaDA] [int] NOT NULL,
	[NgayBD] [date] NOT NULL,
	[NgayKT] [date] NULL,
	[NhiemVu] [nvarchar](50) NULL,
	[DanhGia] [nvarchar](20) NULL,
 CONSTRAINT [PK_PhanCong] PRIMARY KEY CLUSTERED 
(
	[MaNV] ASC,
	[MaDA] ASC,
	[NgayBD] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[DuAn] ON 

INSERT [dbo].[DuAn] ([MaDA], [TenDA], [NgayDKBD], [NgayBD], [NgayDKKT], [NgayKT]) VALUES (1, N'1', CAST(N'2024-01-01' AS Date), CAST(N'2024-01-01' AS Date), CAST(N'2024-02-02' AS Date), CAST(N'2024-02-02' AS Date))
INSERT [dbo].[DuAn] ([MaDA], [TenDA], [NgayDKBD], [NgayBD], [NgayDKKT], [NgayKT]) VALUES (2, N'2', CAST(N'2024-01-01' AS Date), CAST(N'2024-01-01' AS Date), CAST(N'2024-02-02' AS Date), CAST(N'2024-02-02' AS Date))
INSERT [dbo].[DuAn] ([MaDA], [TenDA], [NgayDKBD], [NgayBD], [NgayDKKT], [NgayKT]) VALUES (3, N'3', CAST(N'2024-01-01' AS Date), CAST(N'2024-01-01' AS Date), CAST(N'2024-02-02' AS Date), CAST(N'2024-02-02' AS Date))
SET IDENTITY_INSERT [dbo].[DuAn] OFF
GO
INSERT [dbo].[NhanVien] ([MaNV], [TenNV], [BangCap], [NamSinh], [DiaChi], [ChucVu]) VALUES (N'1         ', N'1', N'1', 1, N'1', N'1')
INSERT [dbo].[NhanVien] ([MaNV], [TenNV], [BangCap], [NamSinh], [DiaChi], [ChucVu]) VALUES (N'2         ', N'2', N'2', 2, N'2', N'2')
INSERT [dbo].[NhanVien] ([MaNV], [TenNV], [BangCap], [NamSinh], [DiaChi], [ChucVu]) VALUES (N'3         ', N'3', N'3', 3, N'3', N'3')
GO
INSERT [dbo].[PhanCong] ([MaNV], [MaDA], [NgayBD], [NgayKT], [NhiemVu], [DanhGia]) VALUES (N'1         ', 2, CAST(N'2024-01-01' AS Date), CAST(N'2024-02-02' AS Date), N'Quản lý', N'Tốt')
INSERT [dbo].[PhanCong] ([MaNV], [MaDA], [NgayBD], [NgayKT], [NhiemVu], [DanhGia]) VALUES (N'1         ', 2, CAST(N'2024-01-05' AS Date), CAST(N'2024-02-02' AS Date), N'Nhân viên', N'Tốt')
INSERT [dbo].[PhanCong] ([MaNV], [MaDA], [NgayBD], [NgayKT], [NhiemVu], [DanhGia]) VALUES (N'2         ', 2, CAST(N'2024-01-01' AS Date), CAST(N'2024-02-02' AS Date), N'Nhân viên', N'Tốt')
GO
ALTER TABLE [dbo].[PhanCong]  WITH CHECK ADD  CONSTRAINT [FK_PhanCong_DuAn] FOREIGN KEY([MaDA])
REFERENCES [dbo].[DuAn] ([MaDA])
GO
ALTER TABLE [dbo].[PhanCong] CHECK CONSTRAINT [FK_PhanCong_DuAn]
GO
ALTER TABLE [dbo].[PhanCong]  WITH CHECK ADD  CONSTRAINT [FK_PhanCong_NhanVien] FOREIGN KEY([MaNV])
REFERENCES [dbo].[NhanVien] ([MaNV])
GO
ALTER TABLE [dbo].[PhanCong] CHECK CONSTRAINT [FK_PhanCong_NhanVien]
GO
USE [master]
GO
