USE [master]
GO
/****** Object:  Database [QLThueSan]    Script Date: 28/06/2024 9:44:47 AM ******/
CREATE DATABASE [QLThueSan]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'QLThueSan', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\QLThueSan.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'QLThueSan_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\QLThueSan_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [QLThueSan].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [QLThueSan]
GO
/****** Object:  Table [dbo].[KhachHang]    Script Date: 28/06/2024 9:44:48 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[KhachHang](
	[MaKH] [int] IDENTITY(1,1) NOT NULL,
	[TenKH] [nvarchar](50) NULL,
	[DiaChiKH] [nvarchar](100) NULL,
	[SdtKH] [nvarchar](20) NULL,
	[GhiChu] [nvarchar](max) NULL,
 CONSTRAINT [PK_KhachHang] PRIMARY KEY CLUSTERED 
(
	[MaKH] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[San]    Script Date: 28/06/2024 9:44:48 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[San](
	[MaSan] [char](10) NOT NULL,
	[TinhTrang] [nvarchar](50) NULL,
	[GiaThue] [decimal](8, 2) NULL,
	[GhiChu] [nvarchar](max) NULL,
 CONSTRAINT [PK_San] PRIMARY KEY CLUSTERED 
(
	[MaSan] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ThueSan]    Script Date: 28/06/2024 9:44:48 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ThueSan](
	[MaKH] [int] NOT NULL,
	[MaSan] [char](10) NOT NULL,
	[NgayThue] [datetime] NOT NULL,
	[NgayTra] [datetime] NULL,
	[TienThu] [decimal](8, 2) NULL,
	[GhiChu] [nvarchar](max) NULL,
 CONSTRAINT [PK_ThueSan] PRIMARY KEY CLUSTERED 
(
	[MaKH] ASC,
	[MaSan] ASC,
	[NgayThue] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[KhachHang] ON 

INSERT [dbo].[KhachHang] ([MaKH], [TenKH], [DiaChiKH], [SdtKH], [GhiChu]) VALUES (1, N'A', N'abc', N'012', NULL)
INSERT [dbo].[KhachHang] ([MaKH], [TenKH], [DiaChiKH], [SdtKH], [GhiChu]) VALUES (2, N'B', N'abcd', N'023', NULL)
INSERT [dbo].[KhachHang] ([MaKH], [TenKH], [DiaChiKH], [SdtKH], [GhiChu]) VALUES (3, N'C', N'efg', N'234', NULL)
SET IDENTITY_INSERT [dbo].[KhachHang] OFF
GO
INSERT [dbo].[San] ([MaSan], [TinhTrang], [GiaThue], [GhiChu]) VALUES (N'S1        ', N'Tốt', CAST(100000.00 AS Decimal(8, 2)), NULL)
INSERT [dbo].[San] ([MaSan], [TinhTrang], [GiaThue], [GhiChu]) VALUES (N'S2        ', N'Tốt', CAST(500000.00 AS Decimal(8, 2)), NULL)
INSERT [dbo].[San] ([MaSan], [TinhTrang], [GiaThue], [GhiChu]) VALUES (N'S3        ', N'Tốt', CAST(800000.00 AS Decimal(8, 2)), NULL)
GO
INSERT [dbo].[ThueSan] ([MaKH], [MaSan], [NgayThue], [NgayTra], [TienThu], [GhiChu]) VALUES (1, N'S2        ', CAST(N'2024-02-02T00:00:00.000' AS DateTime), NULL, NULL, NULL)
INSERT [dbo].[ThueSan] ([MaKH], [MaSan], [NgayThue], [NgayTra], [TienThu], [GhiChu]) VALUES (2, N'S1        ', CAST(N'2024-01-01T00:00:00.000' AS DateTime), NULL, NULL, NULL)
INSERT [dbo].[ThueSan] ([MaKH], [MaSan], [NgayThue], [NgayTra], [TienThu], [GhiChu]) VALUES (3, N'S3        ', CAST(N'3034-03-03T00:00:00.000' AS DateTime), NULL, NULL, NULL)
GO
ALTER TABLE [dbo].[ThueSan]  WITH CHECK ADD  CONSTRAINT [FK_ThueSan_KhachHang] FOREIGN KEY([MaKH])
REFERENCES [dbo].[KhachHang] ([MaKH])
GO
ALTER TABLE [dbo].[ThueSan] CHECK CONSTRAINT [FK_ThueSan_KhachHang]
GO
ALTER TABLE [dbo].[ThueSan]  WITH CHECK ADD  CONSTRAINT [FK_ThueSan_San] FOREIGN KEY([MaSan])
REFERENCES [dbo].[San] ([MaSan])
GO
ALTER TABLE [dbo].[ThueSan] CHECK CONSTRAINT [FK_ThueSan_San]
GO
USE [master]
GO
