USE [master]
GO
/****** Object:  Database [QLThueSach]    Script Date: 28/06/2024 9:23:48 AM ******/
CREATE DATABASE [QLThueSach]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'QLThueSach', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\QLThueSach.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'QLThueSach_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\QLThueSach_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [QLThueSach].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [QLThueSach]
GO
/****** Object:  Table [dbo].[KhachHang]    Script Date: 28/06/2024 9:23:48 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[KhachHang](
	[MaKH] [int] IDENTITY(1,1) NOT NULL,
	[TenKH] [nvarchar](50) NULL,
	[DiaChiKH] [nvarchar](100) NULL,
	[SdtKH] [nvarchar](12) NULL,
	[Favorite] [nvarchar](100) NULL,
	[GhiChu] [nvarchar](max) NULL,
 CONSTRAINT [PK_KhachHang] PRIMARY KEY CLUSTERED 
(
	[MaKH] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Sach]    Script Date: 28/06/2024 9:23:48 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Sach](
	[MaSach] [char](10) NOT NULL,
	[TenSach] [nvarchar](50) NULL,
	[TacGia] [nvarchar](50) NULL,
	[TenNXB] [nvarchar](50) NULL,
	[GiaMua] [decimal](8, 2) NULL,
	[GhiChu] [nvarchar](max) NULL,
 CONSTRAINT [PK_Sach] PRIMARY KEY CLUSTERED 
(
	[MaSach] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ThueSach]    Script Date: 28/06/2024 9:23:48 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ThueSach](
	[MaKH] [int] NOT NULL,
	[MaSach] [char](10) NOT NULL,
	[NgayMuon] [datetime] NOT NULL,
	[NgayTra] [datetime] NULL,
	[TienThu] [decimal](8, 2) NULL,
	[GhiChu] [nvarchar](max) NULL,
 CONSTRAINT [PK_ThueSach] PRIMARY KEY CLUSTERED 
(
	[MaKH] ASC,
	[MaSach] ASC,
	[NgayMuon] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[KhachHang] ON 

INSERT [dbo].[KhachHang] ([MaKH], [TenKH], [DiaChiKH], [SdtKH], [Favorite], [GhiChu]) VALUES (1, N'Nguyễn Văn A', N'Nhà Bè, TPHCM', N'0123456789', NULL, NULL)
INSERT [dbo].[KhachHang] ([MaKH], [TenKH], [DiaChiKH], [SdtKH], [Favorite], [GhiChu]) VALUES (2, N'Nguyễn Văn B', N'Quận 4, TPHCM', N'0987654321', N'Magazine', NULL)
INSERT [dbo].[KhachHang] ([MaKH], [TenKH], [DiaChiKH], [SdtKH], [Favorite], [GhiChu]) VALUES (3, N'Trần Thị C', N'Quận 7, TPHCM', NULL, NULL, N'Không')
SET IDENTITY_INSERT [dbo].[KhachHang] OFF
GO
INSERT [dbo].[Sach] ([MaSach], [TenSach], [TacGia], [TenNXB], [GiaMua], [GhiChu]) VALUES (N'S1        ', N'Quyển 1', N'abc', N'ddd', CAST(100000.00 AS Decimal(8, 2)), NULL)
INSERT [dbo].[Sach] ([MaSach], [TenSach], [TacGia], [TenNXB], [GiaMua], [GhiChu]) VALUES (N'S2        ', N'Quyển 2', N'abc', N'ddd', CAST(50000.00 AS Decimal(8, 2)), NULL)
INSERT [dbo].[Sach] ([MaSach], [TenSach], [TacGia], [TenNXB], [GiaMua], [GhiChu]) VALUES (N'S3        ', N'Quyển 3', NULL, NULL, CAST(150000.00 AS Decimal(8, 2)), NULL)
GO
INSERT [dbo].[ThueSach] ([MaKH], [MaSach], [NgayMuon], [NgayTra], [TienThu], [GhiChu]) VALUES (1, N'S2        ', CAST(N'2024-05-25T00:00:00.000' AS DateTime), NULL, CAST(10000.00 AS Decimal(8, 2)), NULL)
INSERT [dbo].[ThueSach] ([MaKH], [MaSach], [NgayMuon], [NgayTra], [TienThu], [GhiChu]) VALUES (2, N'S3        ', CAST(N'2024-05-26T00:00:00.000' AS DateTime), CAST(N'2024-08-12T00:00:00.000' AS DateTime), NULL, NULL)
INSERT [dbo].[ThueSach] ([MaKH], [MaSach], [NgayMuon], [NgayTra], [TienThu], [GhiChu]) VALUES (3, N'S1        ', CAST(N'2024-06-01T00:00:00.000' AS DateTime), NULL, NULL, NULL)
GO
ALTER TABLE [dbo].[ThueSach]  WITH CHECK ADD  CONSTRAINT [FK_ThueSach_KhachHang] FOREIGN KEY([MaKH])
REFERENCES [dbo].[KhachHang] ([MaKH])
GO
ALTER TABLE [dbo].[ThueSach] CHECK CONSTRAINT [FK_ThueSach_KhachHang]
GO
ALTER TABLE [dbo].[ThueSach]  WITH CHECK ADD  CONSTRAINT [FK_ThueSach_Sach] FOREIGN KEY([MaSach])
REFERENCES [dbo].[Sach] ([MaSach])
GO
ALTER TABLE [dbo].[ThueSach] CHECK CONSTRAINT [FK_ThueSach_Sach]
GO
USE [master]
GO
