USE [master]
GO
/****** Object:  Database [QLThueBang]    Script Date: 28/06/2024 9:25:10 AM ******/
CREATE DATABASE [QLThueBang]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'QLThueBang', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\QLThueBang.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'QLThueBang_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\QLThueBang_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [QLThueBang].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [QLThueBang]
GO
/****** Object:  Table [dbo].[Bang]    Script Date: 28/06/2024 9:25:10 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Bang](
	[MaBang] [char](10) NOT NULL,
	[TenBang] [nvarchar](50) NULL,
	[TheLoai] [nvarchar](20) NULL,
	[NuocSX] [nvarchar](20) NULL,
	[GiaMua] [decimal](8, 2) NULL,
	[GhiChu] [nvarchar](max) NULL,
 CONSTRAINT [PK_Bang] PRIMARY KEY CLUSTERED 
(
	[MaBang] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[KhachHang]    Script Date: 28/06/2024 9:25:10 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[KhachHang](
	[MaKH] [int] IDENTITY(1,1) NOT NULL,
	[TenKH] [nvarchar](50) NULL,
	[DiaChiKH] [nvarchar](100) NULL,
	[SdtKH] [nvarchar](12) NULL,
	[TheLoaiYT] [nvarchar](20) NULL,
	[GhiChu] [nvarchar](max) NULL,
 CONSTRAINT [PK_KhachHang] PRIMARY KEY CLUSTERED 
(
	[MaKH] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ThueBang]    Script Date: 28/06/2024 9:25:10 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ThueBang](
	[MaKH] [int] NOT NULL,
	[MaBang] [char](10) NOT NULL,
	[NgayThue] [datetime] NOT NULL,
	[NgayTra] [datetime] NULL,
	[TienThu] [decimal](8, 2) NULL,
	[GhiChu] [nvarchar](max) NULL,
 CONSTRAINT [PK_ThueBang] PRIMARY KEY CLUSTERED 
(
	[MaKH] ASC,
	[MaBang] ASC,
	[NgayThue] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
INSERT [dbo].[Bang] ([MaBang], [TenBang], [TheLoai], [NuocSX], [GiaMua], [GhiChu]) VALUES (N'B1        ', N'Băng 1', N'Hài', N'Việt Nam', CAST(50000.00 AS Decimal(8, 2)), NULL)
INSERT [dbo].[Bang] ([MaBang], [TenBang], [TheLoai], [NuocSX], [GiaMua], [GhiChu]) VALUES (N'B2        ', N'Băng 2', N'Phim', N'Trung Quốc', NULL, NULL)
INSERT [dbo].[Bang] ([MaBang], [TenBang], [TheLoai], [NuocSX], [GiaMua], [GhiChu]) VALUES (N'B3        ', N'Băng 3', N'Hành động', N'Mỹ', NULL, NULL)
GO
SET IDENTITY_INSERT [dbo].[KhachHang] ON 

INSERT [dbo].[KhachHang] ([MaKH], [TenKH], [DiaChiKH], [SdtKH], [TheLoaiYT], [GhiChu]) VALUES (1, N'A', N'abc', N'01234', N'', NULL)
INSERT [dbo].[KhachHang] ([MaKH], [TenKH], [DiaChiKH], [SdtKH], [TheLoaiYT], [GhiChu]) VALUES (2, N'B', N'def', N'12345', NULL, NULL)
INSERT [dbo].[KhachHang] ([MaKH], [TenKH], [DiaChiKH], [SdtKH], [TheLoaiYT], [GhiChu]) VALUES (3, N'C', N'ghj', N'23456', N'Phim', NULL)
SET IDENTITY_INSERT [dbo].[KhachHang] OFF
GO
INSERT [dbo].[ThueBang] ([MaKH], [MaBang], [NgayThue], [NgayTra], [TienThu], [GhiChu]) VALUES (1, N'B3        ', CAST(N'2024-06-24T00:00:00.000' AS DateTime), CAST(N'2024-06-28T00:00:00.000' AS DateTime), CAST(10000.00 AS Decimal(8, 2)), NULL)
INSERT [dbo].[ThueBang] ([MaKH], [MaBang], [NgayThue], [NgayTra], [TienThu], [GhiChu]) VALUES (2, N'B2        ', CAST(N'2024-06-28T00:00:00.000' AS DateTime), NULL, NULL, NULL)
INSERT [dbo].[ThueBang] ([MaKH], [MaBang], [NgayThue], [NgayTra], [TienThu], [GhiChu]) VALUES (3, N'B1        ', CAST(N'2024-05-05T00:00:00.000' AS DateTime), NULL, CAST(100000.00 AS Decimal(8, 2)), NULL)
GO
ALTER TABLE [dbo].[ThueBang]  WITH CHECK ADD  CONSTRAINT [FK_ThueBang_Bang] FOREIGN KEY([MaBang])
REFERENCES [dbo].[Bang] ([MaBang])
GO
ALTER TABLE [dbo].[ThueBang] CHECK CONSTRAINT [FK_ThueBang_Bang]
GO
ALTER TABLE [dbo].[ThueBang]  WITH CHECK ADD  CONSTRAINT [FK_ThueBang_KhachHang] FOREIGN KEY([MaKH])
REFERENCES [dbo].[KhachHang] ([MaKH])
GO
ALTER TABLE [dbo].[ThueBang] CHECK CONSTRAINT [FK_ThueBang_KhachHang]
GO
USE [master]
GO
