USE [master]
GO
/****** Object:  Database [QLThuePhong]    Script Date: 28/06/2024 9:25:51 AM ******/
CREATE DATABASE [QLThuePhong]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'QLThuePhong', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\QLThuePhong.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'QLThuePhong_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\QLThuePhong_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [QLThuePhong].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [QLThuePhong]
GO
/****** Object:  Table [dbo].[KhachHang]    Script Date: 28/06/2024 9:25:51 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[KhachHang](
	[MaKH] [int] IDENTITY(1,1) NOT NULL,
	[TenKH] [nvarchar](50) NULL,
	[DiaChiKH] [nvarchar](100) NULL,
	[SdtKH] [nvarchar](12) NULL,
	[GhiChu] [nvarchar](max) NULL,
 CONSTRAINT [PK_KhachHang] PRIMARY KEY CLUSTERED 
(
	[MaKH] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Phong]    Script Date: 28/06/2024 9:25:51 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Phong](
	[MaPhong] [char](10) NOT NULL,
	[SoGiuong] [int] NULL,
	[HoTenNV] [nvarchar](50) NULL,
	[GiaTien] [decimal](8, 2) NULL,
	[GhiChu] [nvarchar](max) NULL,
 CONSTRAINT [PK_Phong] PRIMARY KEY CLUSTERED 
(
	[MaPhong] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ThuePhong]    Script Date: 28/06/2024 9:25:51 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ThuePhong](
	[MaKh] [int] NOT NULL,
	[MaPhong] [char](10) NOT NULL,
	[NgayLay] [datetime] NOT NULL,
	[NgayTra] [datetime] NULL,
	[Tien] [decimal](8, 2) NULL,
	[GhiChu] [nvarchar](max) NULL,
 CONSTRAINT [PK_ThuePhong] PRIMARY KEY CLUSTERED 
(
	[MaKh] ASC,
	[MaPhong] ASC,
	[NgayLay] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[KhachHang] ON 

INSERT [dbo].[KhachHang] ([MaKH], [TenKH], [DiaChiKH], [SdtKH], [GhiChu]) VALUES (1, N'Nguyễn Văn A', N'Nhà Bè, TPHCM', N'0123456789', NULL)
INSERT [dbo].[KhachHang] ([MaKH], [TenKH], [DiaChiKH], [SdtKH], [GhiChu]) VALUES (2, N'Nguyễn Thị B', N'Bình Thạnh, TPHCM', N'0234567891', NULL)
INSERT [dbo].[KhachHang] ([MaKH], [TenKH], [DiaChiKH], [SdtKH], [GhiChu]) VALUES (3, N'Lê Văn C', N'Quận 1, TOPHCM', N'0321456789', NULL)
SET IDENTITY_INSERT [dbo].[KhachHang] OFF
GO
INSERT [dbo].[Phong] ([MaPhong], [SoGiuong], [HoTenNV], [GiaTien], [GhiChu]) VALUES (N'P1        ', 1, N'Nguyễn Văn D', CAST(100000.00 AS Decimal(8, 2)), NULL)
INSERT [dbo].[Phong] ([MaPhong], [SoGiuong], [HoTenNV], [GiaTien], [GhiChu]) VALUES (N'P2        ', 2, N'Nguyễn Văn E', CAST(200000.00 AS Decimal(8, 2)), NULL)
INSERT [dbo].[Phong] ([MaPhong], [SoGiuong], [HoTenNV], [GiaTien], [GhiChu]) VALUES (N'P3        ', 1, N'Trần Văn F', CAST(300000.00 AS Decimal(8, 2)), NULL)
GO
INSERT [dbo].[ThuePhong] ([MaKh], [MaPhong], [NgayLay], [NgayTra], [Tien], [GhiChu]) VALUES (1, N'P2        ', CAST(N'2024-12-12T00:00:00.000' AS DateTime), CAST(N'2024-12-13T00:00:00.000' AS DateTime), CAST(200000.00 AS Decimal(8, 2)), NULL)
INSERT [dbo].[ThuePhong] ([MaKh], [MaPhong], [NgayLay], [NgayTra], [Tien], [GhiChu]) VALUES (2, N'P1        ', CAST(N'2024-12-15T00:00:00.000' AS DateTime), NULL, CAST(100000.00 AS Decimal(8, 2)), NULL)
INSERT [dbo].[ThuePhong] ([MaKh], [MaPhong], [NgayLay], [NgayTra], [Tien], [GhiChu]) VALUES (3, N'P3        ', CAST(N'2024-12-13T00:00:00.000' AS DateTime), CAST(N'2024-12-14T00:00:00.000' AS DateTime), CAST(300000.00 AS Decimal(8, 2)), NULL)
GO
ALTER TABLE [dbo].[ThuePhong]  WITH CHECK ADD  CONSTRAINT [FK_ThuePhong_KhachHang] FOREIGN KEY([MaKh])
REFERENCES [dbo].[KhachHang] ([MaKH])
GO
ALTER TABLE [dbo].[ThuePhong] CHECK CONSTRAINT [FK_ThuePhong_KhachHang]
GO
ALTER TABLE [dbo].[ThuePhong]  WITH CHECK ADD  CONSTRAINT [FK_ThuePhong_Phong] FOREIGN KEY([MaPhong])
REFERENCES [dbo].[Phong] ([MaPhong])
GO
ALTER TABLE [dbo].[ThuePhong] CHECK CONSTRAINT [FK_ThuePhong_Phong]
GO
USE [master]
GO
